body {
  background-color: beige;
}
h1,
h2,
p {
  text-align: center;
  padding: 20px;
}
h1,
h2 {
  margin-top: 50px;
}
.row {
  text-align: center;
}
a {
  text-align: center;
}
img {
  padding: 30px;
  display: block;
  margin: 0 auto;
}
.back {
  margin-top: 30px;
  text-align: center;
  display: block;
}
.email {
  text-align: center;
  display: block;
  font-size: 30px;
}
